.vscode

*.sqlite
*.sqlite3
*.db

log.json
logs.json
crowling.json
crawling.json
artists.json

*.log
*.logs

mail.json
config.json

node_modules
build
dist


/media/users/avatars/*
!/media/users/avatars/default.png
/media/users/pl_pictures/*
!/media/users/pl_pictures/default.jpg

*.swp
