@import './variables.scss';

.AddToPlaylistModel {
    padding: .75em 1em;

    .playlists-container {
        margin: 1em 0;

        .warn {
            letter-spacing: .1em;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .playlists-header {
        margin-bottom: .75em;
        padding: .5em 0;
        text-align: center;
        border-bottom: 1px solid $primary-purple;
        .title {
            text-align: center;
            font-family: 'Inter';
            letter-spacing: .1em;
            font-size: 2rem;
            font-weight: 300;
            color: $primary-purple;
        }
    }

    .create-playlist-btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: transparentize($secondary-grey, .7);
        padding: .75em 0;
        border: 1px solid transparentize(black, .9);
        border-radius: 3px;
        font-size: 1.2rem;
        letter-spacing: .1em;
        font-weight: 700;
        color: $secondary-grey;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: transparentize($secondary-grey, .5);
            color: darken($secondary-grey, 10);
        }

        i {
            margin-right: .5em;
        }
    }

    .PlaylistCheckItem {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: .5em;

        .title {
            font-family: 'Inter', sans-serif;
            font-size: 1.1rem;
            letter-spacing: .1em;
            font-weight: 300;
            margin: 0 1.2em;
        }

        .public-icon {
            color: $secondary-grey;
        }

        .checkbox {
            display: block;
            position: relative;
            margin-left: auto;
            width: 25px;
            height: 25px;
            cursor: pointer;
            border-radius: 3px;
            overflow: hidden;

            // I dont know are those
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 100%;
                width: 100%;
                z-index: 1;
            }
            
            .checkmark {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: transparentize($secondary-grey, .75);
            }

            .checkmark::after {
                content: "";
                position: absolute;
                display: none;
                width: 5px;
                height: 10px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -65%) rotate(45deg);
                border: solid white;
                border-width: 0 3px 3px 0;
            }

            input:hover ~ .checkmark {
                background-color: transparentize($primary-purple, .75);
            }

            input:checked ~ .checkmark {
                background-color: $primary-purple;
            }

            input:checked ~ .checkmark::after {
                display: block;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}