@import './variables.scss';

$artist-header-breack-point: 880px;

.ArtistHeader {
    padding: 1em 0;
    margin-bottom: 1em;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .picture {
        border-radius: 50%;
        border: 1px solid rgba(245, 245, 245, 0.2);
        max-width: 250px;
        max-height: 250px;
        margin-bottom: .5em;
    }

    .info-container {
        .name {
            font-size: 3rem;
            letter-spacing: .2em;
            font-weight: 300;
            color: whitesmoke;
            margin-bottom: .5em;
            text-align: center;
            margin-bottom: .25em;
        }

        .info-row {
            margin-bottom: .75em;
            display: flex;
            justify-content: space-around;

            span {
                color: $secondary-grey;
            }

            span, button {
                display: inline-block;
                margin-right: 1em;
                font-size: .85em;

                &:last-child {
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .fav-btn {
        cursor: pointer;
        background-color: transparent;
        font-size: 1.3rem;
        border: none;

        i {
            color: transparentize(whitesmoke, .5);
            transition: .3s;
        }

        &:hover {
            i {
                color: #DD2E44;
            }
        }
    }
}


@media (min-width: $artist-header-breack-point) {
    .ArtistHeader {
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;

        .picture {
            margin-bottom: .5em;
            margin-right: 1em;
            border-radius: 8px;
        }

        .info-container {
            .name {
                text-align: left;
                margin-bottom: .5em;
            }

            .info-row {
                justify-content: start;
            }
            
        }
    }
}