@import './variables.scss';

.ArtistAlbums {
    padding: 1em 0;

    h6 {
        font-size: 1.3rem;
        margin-bottom: .75em;
        color: whitesmoke;
        letter-spacing: .1em;
        font-weight: 300;
        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
    }

    .loading {
        background-color: $primary-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        height: 150px;
    }

    .albums-container {
        display: flex;
        flex-wrap: wrap;
    }

    .add-more {
        display: block;
        padding: .5em 0;
        width: 50%;
        max-width: 200px;
        min-width: 50px;
        background-color: $primary-purple;
        font-size: 1rem;
        letter-spacing: .1em;
        text-transform: capitalize;
        color: $secondary-grey;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin: 0 auto;
    }
}