@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif;
    background-color: $primary-black;
    min-height: 100%;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    letter-spacing: .15em;
}

button, input, textarea {
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}


#root {
    flex: 1 0 ;
}

.page {
    flex: 1 0 ;
    padding: 0 3%;
}

.center-div {
    padding: 1.25em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more {
    background-color: $primary-purple;
    border: none;
    border-radius: 3px;
    padding: .5em .75em;
    font-size: 1.1rem;
    color: whitesmoke;
    letter-spacing: .1em;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-purple, 10);
    }
}