.PageHeader {
    padding: 1.5em 0;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;

    h2 {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: .15em;
        text-transform: capitalize;
    }
}