@import './variables.scss';

.PlaylistTable {
    width: 100%;
    
    &, th, td {
        border-collapse: collapse;
    }

    tr {
        border-bottom: 1px solid transparentize($primary-grey, .75);
    }

    th {
        color: $secondary-grey;
        text-transform: capitalize;
        letter-spacing: .1em;
    }

    td, th {
        padding: 1em 0;
        font-weight: 300;
        text-align: center;

        &.btn-col {
            max-width: 40px;
            font-size: .8rem;
        }

        &.text-start {
            text-align: start;
            padding-left: 1%;
        }
    }
}