@import './variables.scss';

$playlist-break-point: 975px;

.PlaylistHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75em 0;
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 2em;

    .cover-container {
        min-width: 250px;
        width: 250px;
        height: 250px;
        max-height: 250px;
        object-fit: cover;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid rgba(245, 245, 245, 0.2);

        .cover-frontdrop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 5;
            
            .play-btn {
                position: absolute;
                bottom: 5%;
                right: 5%;
                border: none;
                background-color: whitesmoke;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $secondary-grey;
                cursor: pointer;
                transition: .3s;

                i {
                    font-size: 1.2rem;
                }

                &:hover {
                    background-color: darken(whitesmoke, 10);
                    color: $primary-grey;
                }
            }
        }
    }

    .info-container {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        color: whitesmoke;
        
        &>.title {
            font-size: 1.5rem;
            letter-spacing: .2em;
            font-weight: 300;
            margin-bottom: .5em;
            margin-top: .25em;
            text-align: center;
        }

        .info-row {
            display: flex;
            align-items: center;

            & > * {
                display: inline-block;
                margin-right: 1em;
            }

            & > *:last-child {
                margin-right: 0;
            }

            .date , .items-count {
                font-size: .7em;
                letter-spacing: .2em;
                color: $primary-grey;
            }

            .author {
                display: flex;
                align-items: center;
                text-decoration: none;
                border-radius: 25px;
                padding-right: .3em;
                transition: .3s;

                .author-pic {
                    margin-right: .5em;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border: 1px solid $secondary-grey;
                }

                .name {
                    font-family: 'Inter', sans-serif;
                    font-size: 1.2rem;
                    letter-spacing: .1em;
                    font-weight: 300;
                    color: whitesmoke;
                }

                &:hover {
                    background-color: $secondary-grey;
                }
            }            
        }
    }
}

@media (min-width: $playlist-break-point) {
    .PlaylistHeader {
        flex-direction: row;
        align-items: stretch;

        .cover-container {
            margin-right: 1em;

            .cover-frontdrop {
                opacity: 0;
                
                &:hover {
                    opacity: 1;
                }
            }

            &.current {
                .cover-frontdrop {
                    opacity: 1;
                }
            }
        }

        .info-container {
            &>.title {
                font-size: 2.5rem;
                text-align: left;
                margin-top: 0;
            }
        }
    }
}