@import './variables.scss';

.TableOfPlaylists {
    margin-top: 2em;
    margin-bottom: .75em;
    width: 100%;
    border-top: 1px solid transparentize($primary-grey, .75);
    
    &, th, td {
        border-collapse: collapse;
    }

    tr {
        border-bottom: 1px solid transparentize($primary-grey, .75);
    }

    th {
        color: $primary-grey;
        text-transform: capitalize;
        letter-spacing: .1em;
    }

    td, th {
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: .5em;
        padding-right: .5em;
        font-weight: 300;
        text-align: center;

        &.btn-col {
            max-width: 40px;
            font-size: .8rem;
        }

        &.text-start {
            text-align: start;
            padding-left: 1%;
        }
    }
}

@media (min-width: $playlist-table-break-point) {
    .TableOfPlaylists {
        td, th {
            padding-left: 0;
            padding-right: 0;
        }
    }
}