$primary-black: #121212;
$secondary-black: #1d1d1d;
$primary-grey: rgb(68,68,68);
$secondary-grey: rgb(120, 120, 120);
// $primary-purple: rgb(91,27,187);
// $primary-purple: #6a097d;
$primary-purple: #423063;

$navbar-maxwidth: 250px;
$navbar-breack-point: 700px ;